.header{
    width: 100%;
    height: 100%;
    background-color: black;
    color: var(--textWhite);
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 100px 0 0 0;
}
.headerBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.headerBackground::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 35%, rgb(0, 0, 0) 100%);
    /* opacity: .8; */
}
.suelo{
    width: 100%;
    height: 18vw;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}
.hero_banner{
    position: relative;
    display: flex;
    width: 95%;
    height: 100%;
    max-width: var(--width-layout);
    margin: 0 auto;
    flex-direction: column;
    row-gap: 2rem;
    z-index: 5;
}
.hero_container{
    width: 100%;
    margin: 0;
    text-align: center;
}
.hero_subtitle{
    font-size: 20px;
    font-weight: 500;
}
.hero_title{
    font-size: 4.6rem;
    font-size: 3.4rem;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    margin: 5px 0 24px 0;
}
.hero_title span{
    color: var(--primary);
}
.hero_parraf{
    margin-bottom: 1.5rem;
}

.hero_imagen{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.hero_imagen_content{
    width: 100%;
    height: fit-content;
}
.timeService_content{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 125px;
    height: 180px;
    margin: 0 auto;
    
    animation: react 10s ease infinite;

    animation-duration:3s;
    animation-timing-function:cubic-bezier(.54,.085,.5,.92);
    animation-name:react;
    animation-iteration-count:infinite;
    transition:all .4s cubic-bezier(.645,.045,.355,1)
}
.timeService_content svg{
    position: absolute;
    bottom: -10px;
    left: -25px;
    display: flex;
    width: 100%;
    height: 100%;
}

@keyframes react{
    0%{
        transform:translateY(0)
    }
    50%{
        transform:translateY(-22px);
    }
    100%{
        transform:translateY(0)
    }
}


.hero_buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.methods_pago{
    display: flex;
    width: 75%;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    margin: 1rem  auto 0 auto;
}
.interbank_icon,
.bcp_icon,
.yape_icon,
.plin_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}
.interbank_icon,
.bcp_icon,
.yape_icon{
    transition: all .25s ease;
}
.bcp_icon,
.interbank_icon{
    padding: 0 .8rem;
    border-radius: 6px;
}
.interbank_icon{
    background-color: #fafafa;
}
.interbank_svg,
.fillLogo,
.fillText{
    transition: all .25s ease;
}
.interbank_icon:hover{
    background-color: #fff;
}
.interbank_icon:hover .fillLogo{
    fill: #0033ff;
}
.interbank_icon:hover .fillText{
    fill: #00dd3b;
}
.bcp_icon{
    background-color: #0028a2;
}
.bcp_icon:hover{
    background-color: #0033ff;
}
.yape_icon{
    width: 45px;
    background-color: #9d00a6;
    border-radius: 6px;
}
.yape_icon:hover{
    background-color: #b100d1;
    /* border-radius: 50%; */
}
.plin_icon{
    width: 45px;
    background-color: aqua;
    background: url(../public/img/pagos/plin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media(min-width: 860px){
    .hero_banner{
        padding: 0;
        display: grid;
        grid-template-columns: 45fr 55fr;
        height: 700px;
        height: 600px;
        row-gap: 4rem;
    }
    .hero_container{
        transform: translateY(-50px);
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: center;
        align-items: flex-start;
    }
    .suelo{
        height: 100px;
        height: calc(70px + 1.35vw);
    }
    .hero_container a{
        margin: 0;
    }
    .hero_imagen_content{
        transform: translateY(30px);
    }
    .timeService_content{
        display: flex;
    }
    .hero_title{
        font-size: 4.6rem;
        margin: 5px 0 30px 0;
    }
    .hero_parraf{
        font-size: 17px;
    }
    .methods_pago{
        width: 100%;
        justify-content: flex-start;
        margin-top: 1rem;
    }
}
