.header {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    color: var(--textWhite);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0 80px 0;
}

.headerBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.headerBackground::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 35%, rgb(0, 0, 0) 100%);
    opacity: .65;
}

.hero_title {
    position: relative;
    font-size: clamp(2rem, 1.2125rem + 3.5000vw, 3.4rem);
    font-family: 'Lobster', cursive;
    font-weight: 100;
}

.hero_title span{
    color: var(--primary);
}

@media (min-width: 768px){
    .header {
        padding: 150px 0 100px 0;
    }
}