.header{
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-color: black;
    color: var(--textWhite);
    position: relative;
    display: flex;
    align-items: center;
}
.suelo{
    width: 100%;
    height: 18vw;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.hero_banner{
    padding-top: 150px;
    display: flex;
    width: 95%;
    height: 100%;
    max-width: var(--width-layout);
    margin: 0 auto;
    flex-direction: column;
    row-gap: 4rem;
}
.hero_container{
    margin: 0;
    text-align: center;
}
.hero_subtitle{
    font-size: 22px;
    font-weight: 500;
}

.hero_title{
    font-size: 4.6rem;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    margin: 5px 0 26px 0;
}
.hero_title span{
    color: var(--primary);
}

.hero_parraf{
    margin-bottom: 30px;
}

.hero_imagen{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.timeService_content{
    display: none;
    justify-content: center;
}
.timeService_content svg{
    transform: translate(-20px, 25px);
}
.hero_imagen_content{
    width: 100%;
    height: fit-content;
    /* transform: translateY(30px); */
}
.hero_buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media(min-width: 860px){
    .hero_banner{
        padding: 0;
        display: grid;
        grid-template-columns: 45fr 55fr;
        height: 700px;
    }
    .hero_container{
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: center;
        align-items: flex-start;
    }
    .suelo{
        height: 100px;
    }
    .hero_container a{
        margin: 0;
    }
    .hero_imagen_content{
        transform: translateY(30px);
    }
    .timeService_content{
        display: flex;
    }
}