.navbar {
    width: 100%;
    display: grid;
    grid-template-rows: 60px 100%;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: aqua;
    z-index: 99;
}
.navbar_content {
    width: 95%;
    max-width: var(--width-layout);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


